# Import Modules

In [5]:
import pandas as pd
import numpy as np

## NBA-API modules

In [9]:
from nba_api.stats.static import players
from nba_api.stats.static import teams

# Load Data

In [35]:
team_ratings_file = './data_files/2019-20_team_ratings.csv'

ratings_df = pd.read_csv(team_ratings_file)

# Combine datasets

In [12]:
# combine 5 years of ort, nrtg, and misc
seasons = ['2019-20', '2018-19', '2017-18', '2016-17', '2015-16']
ratings_df = pd.DataFrame()

In [ ]:
# assign season to dataframe

In [ ]:
# merge two dataframes

In [38]:
def create_filepath(year_input):
    file_path = './data_files/{}_team_ratings.csv'.format(year_input)
    return file_path

In [44]:
path_string = './data_files/' + seasons[0] + '_team_ratings.csv'
print(path_string)

./data_files/2019-20_team_ratings.csv

In [18]:
def combine_dfs(file_path, df):
    try:
        str(input_season)
    except:
        print('Broken season input')
    file_path = './data_files/{}_team_ratings.csv'.format(input_season)
    print(file_path)

    temp_df = pd.read_csv(file_path)

    # assign season to dataframe
    temp_df['season'] = input_season
    df = pd.concat([df, temp_df])

    return df

In [39]:
for season in seasons[:2]:  
    print(create_filepath(season))

./data_files/2019-20_team_ratings.csv
./data_files/2018-19_team_ratings.csv

In [40]:
path_string = "./data_files/{}_team_ratings.csv"

In [41]:
print(path_string)

./data_files/{}_team_ratings.csv

In [42]:
print(path_string.format(seasons[0]))

./data_files/2019-20_team_ratings.csv

In [36]:
ratings_df.head()

,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A
0,1,Milwaukee Bucks,E,C,41,7,0.854,12.27,114.62,102.88,11.74,10.95,114.21,103.78,10.44
1,2,Los Angeles Lakers,W,P,36,11,0.766,6.94,113.38,106.60,6.77,7.22,113.14,106.07,7.07
2,3,Dallas Mavericks,W,SW,29,19,0.604,5.85,117.87,111.93,5.94,6.18,118.09,111.86,6.23
3,4,Boston Celtics,E,A,32,15,0.681,6.87,113.53,106.56,6.97,5.96,113.14,107.11,6.03
4,5,Los Angeles Clippers,W,P,33,15,0.688,5.79,113.07,107.44,5.62,6.06,112.80,106.90,5.90

In [17]:
ratings_df.tail()

Empty DataFrame
Columns: []
Index: []

# Transformations, Calculations

In [8]:
# Calculate expected wins
# Boolean for under, over, or just right

In [10]:
players = players.get_active_players()