# Setup

In [2]:
import pandas as pd
import numpy as np

# Question 1

In [3]:
# Import historic four factors
historic_ff_df = pd.read_csv('./data_files/2013-19_team_ff.csv')

# Import current four factors
curr_ff_df = pd.read_csv('./data_files/2019-20_team_ff.csv')

In [5]:
historic_ff_df.head()

,Unnamed: 0,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,EFG_PCT,FTA_RATE,...,FTA_RATE_RANK,TM_TOV_PCT_RANK,OREB_PCT_RANK,OPP_EFG_PCT_RANK,OPP_FTA_RATE_RANK,OPP_TOV_PCT_RANK,OPP_OREB_PCT_RANK,CFID,CFPARAMS,season
0,0,1610612737,Atlanta Hawks,82,38,44,0.463,3966.0,0.515,0.266,...,21,21,28,19,9,9,13,10,Atlanta Hawks,2013-14
1,1,1610612738,Boston Celtics,82,25,57,0.305,3946.0,0.477,0.248,...,25,28,7,16,19,18,16,10,Boston Celtics,2013-14
2,2,1610612751,Brooklyn Nets,82,44,38,0.537,3976.0,0.514,0.313,...,5,16,27,18,25,2,26,10,Brooklyn Nets,2013-14
3,3,1610612766,Charlotte Bobcats,82,43,39,0.524,3981.0,0.481,0.297,...,10,1,24,9,2,28,1,10,Charlotte Bobcats,2013-14
4,4,1610612741,Chicago Bulls,82,48,34,0.585,3986.0,0.471,0.290,...,14,27,3,2,4,13,12,10,Chicago Bulls,2013-14

In [6]:
curr_ff_df.head()

,Unnamed: 0,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,EFG_PCT,FTA_RATE,...,FTA_RATE_RANK,TM_TOV_PCT_RANK,OREB_PCT_RANK,OPP_EFG_PCT_RANK,OPP_FTA_RATE_RANK,OPP_TOV_PCT_RANK,OPP_OREB_PCT_RANK,CFID,CFPARAMS,season
0,0,1610612737,Atlanta Hawks,56,15,41,0.268,2713.0,0.512,0.257,...,15,29,14,24,29,13,28,10,Atlanta Hawks,2019-20
1,1,1610612738,Boston Celtics,54,38,16,0.704,2607.0,0.532,0.256,...,17,9,10,5,24,5,12,10,Boston Celtics,2019-20
2,2,1610612751,Brooklyn Nets,53,25,28,0.472,2574.0,0.516,0.264,...,11,25,9,4,8,26,11,10,Brooklyn Nets,2019-20
3,3,1610612766,Charlotte Hornets,54,18,36,0.333,2612.0,0.503,0.249,...,22,24,8,27,1,11,30,10,Charlotte Hornets,2019-20
4,4,1610612741,Chicago Bulls,55,19,36,0.345,2655.0,0.511,0.236,...,25,26,21,26,30,1,21,10,Chicago Bulls,2019-20

In [13]:
historic_ff_df.columns[8:16]

Index(['EFG_PCT', 'FTA_RATE', 'TM_TOV_PCT', 'OREB_PCT', 'OPP_EFG_PCT',
       'OPP_FTA_RATE', 'OPP_TOV_PCT', 'OPP_OREB_PCT'],
      dtype='object')

In [18]:
historic_ff_df[historic_ff_df.columns[8:16]].corr()

,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
EFG_PCT,1.000000,-0.087553,-0.214892,-0.388352,0.036658,-0.264198,-0.059789,-0.183348
FTA_RATE,-0.087553,1.000000,0.274866,0.338402,-0.163751,0.205985,0.099712,0.274730
TM_TOV_PCT,-0.214892,0.274866,1.000000,0.346038,-0.196418,0.377221,0.291927,0.443597
OREB_PCT,-0.388352,0.338402,0.346038,1.000000,-0.198367,0.204070,0.016948,0.155639
OPP_EFG_PCT,0.036658,-0.163751,-0.196418,-0.198367,1.000000,-0.098373,-0.096006,-0.113172
OPP_FTA_RATE,-0.264198,0.205985,0.377221,0.204070,-0.098373,1.000000,0.352552,0.447068
OPP_TOV_PCT,-0.059789,0.099712,0.291927,0.016948,-0.096006,0.352552,1.000000,0.535968
OPP_OREB_PCT,-0.183348,0.274730,0.443597,0.155639,-0.113172,0.447068,0.535968,1.000000

In [17]:
# Export correlation table for report
historic_ff_df[historic_ff_df.columns[8:16]].corr().to_excel('ff_corr.xlsx')

In [47]:
curr_ff_df[curr_ff_df.columns[2:16]]

,TEAM_NAME,GP,W,L,W_PCT,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,Atlanta Hawks,56,15,41,0.268,2713.0,0.512,0.257,0.159,0.265,0.541,0.302,0.147,0.294
1,Boston Celtics,54,38,16,0.704,2607.0,0.532,0.256,0.137,0.280,0.508,0.279,0.153,0.267
2,Brooklyn Nets,53,25,28,0.472,2574.0,0.516,0.264,0.152,0.281,0.505,0.237,0.126,0.266
3,Charlotte Hornets,54,18,36,0.333,2612.0,0.503,0.249,0.152,0.281,0.548,0.208,0.149,0.295
4,Chicago Bulls,55,19,36,0.345,2655.0,0.511,0.236,0.152,0.261,0.543,0.302,0.178,0.275
5,Cleveland Cavaliers,54,14,40,0.259,2607.0,0.517,0.220,0.165,0.297,0.560,0.215,0.128,0.261
6,Dallas Mavericks,55,33,22,0.600,2655.0,0.546,0.261,0.125,0.281,0.519,0.231,0.120,0.265
7,Denver Nuggets,55,38,17,0.691,2670.0,0.526,0.233,0.135,0.299,0.522,0.254,0.145,0.271
8,Detroit Pistons,57,19,38,0.333,2761.0,0.530,0.264,0.156,0.277,0.536,0.232,0.143,0.284
9,Golden State Warriors,55,12,43,0.218,2665.0,0.492,0.265,0.144,0.255,0.550,0.240,0.156,0.281
10,Houston Rockets,54,34,20,0.630,2602.0,0.535,0.291,0.139,0.264,0.529,0.249,0.150,0.278
11,Indiana Pacers,55,32,23,0.582,2660.0,0.535,0.215,0.129,0.245,0.513,0.249,0.145,0.281
12,LA Clippers,55,37,18,0.673,2655.0,0.529,0.289,0.145,0.284,0.504,0.275,0.139,0.267
13,Los Angeles Lakers,53,41,12,0.774,2554.0,0.552,0.268,0.150,0.289,0.512,0.256,0.153,0.265
14,Memphis Grizzlies,54,28,26,0.519,2597.0,0.533,0.228,0.146,0.262,0.523,0.277,0.142,0.273
15,Miami Heat,54,35,19,0.648,2632.0,0.545,0.297,0.149,0.264,0.518,0.265,0.135,0.241
16,Milwaukee Bucks,54,46,8,0.852,2597.0,0.556,0.268,0.139,0.244,0.485,0.218,0.134,0.228
17,Minnesota Timberwolves,53,16,37,0.302,2584.0,0.509,0.277,0.148,0.270,0.533,0.276,0.148,0.269
18,New Orleans Pelicans,55,23,32,0.418,2665.0,0.537,0.250,0.153,0.283,0.531,0.272,0.137,0.270
19,New York Knicks,55,17,38,0.309,2660.0,0.495,0.255,0.143,0.297,0.542,0.297,0.141,0.256
20,Oklahoma City Thunder,55,33,22,0.600,2660.0,0.533,0.288,0.136,0.242,0.520,0.208,0.140,0.270
21,Orlando Magic,55,24,31,0.436,2645.0,0.494,0.249,0.129,0.265,0.527,0.217,0.152,0.255
22,Philadelphia 76ers,55,34,21,0.618,2650.0,0.528,0.253,0.146,0.277,0.515,0.285,0.142,0.242
23,Phoenix Suns,55,22,33,0.400,2655.0,0.525,0.273,0.144,0.257,0.539,0.282,0.156,0.272
24,Portland Trail Blazers,56,25,31,0.446,2698.0,0.525,0.238,0.126,0.263,0.520,0.267,0.124,0.292
25,Sacramento Kings,54,21,33,0.389,2622.0,0.527,0.222,0.148,0.260,0.541,0.274,0.152,0.270
26,San Antonio Spurs,54,23,31,0.426,2622.0,0.530,0.256,0.123,0.235,0.539,0.245,0.124,0.249
27,Toronto Raptors,55,40,15,0.727,2660.0,0.537,0.249,0.142,0.260,0.503,0.257,0.168,0.290
28,Utah Jazz,54,36,18,0.667,2597.0,0.552,0.267,0.151,0.259,0.510,0.237,0.122,0.249
29,Washington Wizards,53,20,33,0.377,2554.0,0.529,0.262,0.134,0.263,0.554,0.292,0.150,0.295

In [26]:
curr_ff_df[curr_ff_df.columns[21:29]]

,EFG_PCT_RANK,FTA_RATE_RANK,TM_TOV_PCT_RANK,OREB_PCT_RANK,OPP_EFG_PCT_RANK,OPP_FTA_RATE_RANK,OPP_TOV_PCT_RANK,OPP_OREB_PCT_RANK
0,24,15,29,14,24,29,13,28
1,12,17,9,10,5,24,5,12
2,23,11,25,9,4,8,26,11
3,27,22,24,8,27,1,11,30
4,25,25,26,21,26,30,1,21
5,22,29,30,3,30,3,25,8
6,4,14,2,7,11,6,30,10
7,19,26,7,1,14,14,14,18
8,14,12,28,11,20,7,16,25
9,30,10,14,26,28,10,3,23
10,9,2,10,17,17,12,10,22
11,8,30,5,27,8,13,15,24
12,15,3,16,5,3,21,21,13
13,3,8,22,4,7,15,6,9
14,10,27,17,20,15,23,18,20
15,5,1,21,16,10,17,23,2
16,1,7,11,28,1,5,24,1
17,26,5,19,13,19,22,12,14
18,6,20,27,6,18,19,22,16
19,28,18,13,2,25,28,19,7
20,11,4,8,29,12,2,20,17
21,29,23,4,15,16,4,7,6
22,17,19,18,12,9,26,17,3
23,20,6,15,25,22,25,4,19
24,21,24,3,19,13,18,28,27
25,18,28,20,22,23,20,8,15
26,13,16,1,30,21,11,27,4
27,7,21,12,23,2,16,2,26
28,2,9,23,24,6,9,29,5
29,16,13,6,18,29,27,9,29

In [28]:
curr_ff_df.TEAM_NAME

0              Atlanta Hawks
1             Boston Celtics
2              Brooklyn Nets
3          Charlotte Hornets
4              Chicago Bulls
5        Cleveland Cavaliers
6           Dallas Mavericks
7             Denver Nuggets
8            Detroit Pistons
9      Golden State Warriors
10           Houston Rockets
11            Indiana Pacers
12               LA Clippers
13        Los Angeles Lakers
14         Memphis Grizzlies
15                Miami Heat
16           Milwaukee Bucks
17    Minnesota Timberwolves
18      New Orleans Pelicans
19           New York Knicks
20     Oklahoma City Thunder
21             Orlando Magic
22        Philadelphia 76ers
23              Phoenix Suns
24    Portland Trail Blazers
25          Sacramento Kings
26         San Antonio Spurs
27           Toronto Raptors
28                 Utah Jazz
29        Washington Wizards
Name: TEAM_NAME, dtype: object

In [30]:
pd.concat([curr_ff_df.TEAM_NAME, curr_ff_df[curr_ff_df.columns[21:29]]], axis=1)

,TEAM_NAME,EFG_PCT_RANK,FTA_RATE_RANK,TM_TOV_PCT_RANK,OREB_PCT_RANK,OPP_EFG_PCT_RANK,OPP_FTA_RATE_RANK,OPP_TOV_PCT_RANK,OPP_OREB_PCT_RANK
0,Atlanta Hawks,24,15,29,14,24,29,13,28
1,Boston Celtics,12,17,9,10,5,24,5,12
2,Brooklyn Nets,23,11,25,9,4,8,26,11
3,Charlotte Hornets,27,22,24,8,27,1,11,30
4,Chicago Bulls,25,25,26,21,26,30,1,21
5,Cleveland Cavaliers,22,29,30,3,30,3,25,8
6,Dallas Mavericks,4,14,2,7,11,6,30,10
7,Denver Nuggets,19,26,7,1,14,14,14,18
8,Detroit Pistons,14,12,28,11,20,7,16,25
9,Golden State Warriors,30,10,14,26,28,10,3,23
10,Houston Rockets,9,2,10,17,17,12,10,22
11,Indiana Pacers,8,30,5,27,8,13,15,24
12,LA Clippers,15,3,16,5,3,21,21,13
13,Los Angeles Lakers,3,8,22,4,7,15,6,9
14,Memphis Grizzlies,10,27,17,20,15,23,18,20
15,Miami Heat,5,1,21,16,10,17,23,2
16,Milwaukee Bucks,1,7,11,28,1,5,24,1
17,Minnesota Timberwolves,26,5,19,13,19,22,12,14
18,New Orleans Pelicans,6,20,27,6,18,19,22,16
19,New York Knicks,28,18,13,2,25,28,19,7
20,Oklahoma City Thunder,11,4,8,29,12,2,20,17
21,Orlando Magic,29,23,4,15,16,4,7,6
22,Philadelphia 76ers,17,19,18,12,9,26,17,3
23,Phoenix Suns,20,6,15,25,22,25,4,19
24,Portland Trail Blazers,21,24,3,19,13,18,28,27
25,Sacramento Kings,18,28,20,22,23,20,8,15
26,San Antonio Spurs,13,16,1,30,21,11,27,4
27,Toronto Raptors,7,21,12,23,2,16,2,26
28,Utah Jazz,2,9,23,24,6,9,29,5
29,Washington Wizards,16,13,6,18,29,27,9,29

In [31]:
curr_ff_df.columns

Index(['Unnamed: 0', 'TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN',
       'EFG_PCT', 'FTA_RATE', 'TM_TOV_PCT', 'OREB_PCT', 'OPP_EFG_PCT',
       'OPP_FTA_RATE', 'OPP_TOV_PCT', 'OPP_OREB_PCT', 'GP_RANK', 'W_RANK',
       'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'EFG_PCT_RANK', 'FTA_RATE_RANK',
       'TM_TOV_PCT_RANK', 'OREB_PCT_RANK', 'OPP_EFG_PCT_RANK',
       'OPP_FTA_RATE_RANK', 'OPP_TOV_PCT_RANK', 'OPP_OREB_PCT_RANK', 'CFID',
       'CFPARAMS', 'season'],
      dtype='object')

In [33]:
curr_ff_df['efg_diff'] = curr_ff_df.EFG_PCT - curr_ff_df.OPP_EFG_PCT
curr_ff_df['ftr_diff'] = curr_ff_df.FTA_RATE - curr_ff_df.OPP_FTA_RATE
curr_ff_df['tov_diff'] = curr_ff_df.TM_TOV_PCT - curr_ff_df.OPP_TOV_PCT
curr_ff_df['oreb_diff'] = curr_ff_df.OREB_PCT - curr_ff_df.OPP_OREB_PCT

In [38]:
curr_ff_df[curr_ff_df.columns[32:36]]

    efg_diff  ftr_diff  tov_diff  oreb_diff
0     -0.029    -0.045     0.012     -0.029
1      0.024    -0.023    -0.016      0.013
2      0.011     0.027     0.026      0.015
3     -0.045     0.041     0.003     -0.014
4     -0.032    -0.066    -0.026     -0.014
5     -0.043     0.005     0.037      0.036
6      0.027     0.030     0.005      0.016
7      0.004    -0.021    -0.010      0.028
8     -0.006     0.032     0.013     -0.007
9     -0.058     0.025    -0.012     -0.026
10     0.006     0.042    -0.011     -0.014
11     0.022    -0.034    -0.016     -0.036
12     0.025     0.014     0.006      0.017
13     0.040     0.012    -0.003      0.024
14     0.010    -0.049     0.004     -0.011
15     0.027     0.032     0.014      0.023
16     0.071     0.050     0.005      0.016
17    -0.024     0.001     0.000      0.001
18     0.006    -0.022     0.016      0.013
19    -0.047    -0.042     0.002      0.041
20     0.013     0.080    -0.004     -0.028
21    -0.033     0.032    -0.023      0.010
22     0.013    -0.032     0.004      0.035
23    -0.014    -0.009    -0.012     -0.015
24     0.005    -0.029     0.002     -0.029
25    -0.014    -0.052    -0.004     -0.010
26    -0.009     0.011    -0.001     -0.014
27     0.034    -0.008    -0.026     -0.030
28     0.042     0.030     0.029      0.010
29    -0.025    -0.030    -0.016     -0.032

In [40]:
ff_diffs_df = pd.concat([curr_ff_df.TEAM_NAME, curr_ff_df[curr_ff_df.columns[32:36]]], axis=1)

In [41]:
ff_diffs_df

                 TEAM_NAME  efg_diff  ftr_diff  tov_diff  oreb_diff
0            Atlanta Hawks    -0.029    -0.045     0.012     -0.029
1           Boston Celtics     0.024    -0.023    -0.016      0.013
2            Brooklyn Nets     0.011     0.027     0.026      0.015
3        Charlotte Hornets    -0.045     0.041     0.003     -0.014
4            Chicago Bulls    -0.032    -0.066    -0.026     -0.014
5      Cleveland Cavaliers    -0.043     0.005     0.037      0.036
6         Dallas Mavericks     0.027     0.030     0.005      0.016
7           Denver Nuggets     0.004    -0.021    -0.010      0.028
8          Detroit Pistons    -0.006     0.032     0.013     -0.007
9    Golden State Warriors    -0.058     0.025    -0.012     -0.026
10         Houston Rockets     0.006     0.042    -0.011     -0.014
11          Indiana Pacers     0.022    -0.034    -0.016     -0.036
12             LA Clippers     0.025     0.014     0.006      0.017
13      Los Angeles Lakers     0.040     0.012    -0.003      0.024
14       Memphis Grizzlies     0.010    -0.049     0.004     -0.011
15              Miami Heat     0.027     0.032     0.014      0.023
16         Milwaukee Bucks     0.071     0.050     0.005      0.016
17  Minnesota Timberwolves    -0.024     0.001     0.000      0.001
18    New Orleans Pelicans     0.006    -0.022     0.016      0.013
19         New York Knicks    -0.047    -0.042     0.002      0.041
20   Oklahoma City Thunder     0.013     0.080    -0.004     -0.028
21           Orlando Magic    -0.033     0.032    -0.023      0.010
22      Philadelphia 76ers     0.013    -0.032     0.004      0.035
23            Phoenix Suns    -0.014    -0.009    -0.012     -0.015
24  Portland Trail Blazers     0.005    -0.029     0.002     -0.029
25        Sacramento Kings    -0.014    -0.052    -0.004     -0.010
26       San Antonio Spurs    -0.009     0.011    -0.001     -0.014
27         Toronto Raptors     0.034    -0.008    -0.026     -0.030
28               Utah Jazz     0.042     0.030     0.029      0.010
29      Washington Wizards    -0.025    -0.030    -0.016     -0.032

In [66]:
ff_diffs_df['efg_diff_rank'] = ff_diffs_df.efg_diff.rank(numeric_only=True, ascending=False)
ff_diffs_df['ftr_dff_rank'] = ff_diffs_df.ftr_diff.rank(ascending=False)
ff_diffs_df['tov_diff_rank'] = ff_diffs_df.tov_diff.rank(ascending = False)
ff_diffs_df['oreb_diff_rank'] = ff_diffs_df.oreb_diff.rank(ascending=False)

In [67]:
ff_diffs_df

,TEAM_NAME,efg_diff,ftr_diff,tov_diff,oreb_diff,efg_diff_rank,ftr_dff_rank,tov_diff_rank,oreb_diff_rank
0,Atlanta Hawks,-0.029,-0.045,0.012,-0.029,24.0,27.0,7.0,26.5
1,Boston Celtics,0.024,-0.023,-0.016,0.013,8.0,21.0,27.0,11.5
2,Brooklyn Nets,0.011,0.027,0.026,0.015,12.0,10.0,3.0,10.0
3,Charlotte Hornets,-0.045,0.041,0.003,-0.014,28.0,4.0,13.0,19.0
4,Chicago Bulls,-0.032,-0.066,-0.026,-0.014,25.0,30.0,29.5,21.0
5,Cleveland Cavaliers,-0.043,0.005,0.037,0.036,27.0,15.0,1.0,2.0
6,Dallas Mavericks,0.027,0.030,0.005,0.016,5.5,9.0,9.5,8.0
7,Denver Nuggets,0.004,-0.021,-0.010,0.028,17.0,19.0,21.0,4.0
8,Detroit Pistons,-0.006,0.032,0.013,-0.007,18.0,5.0,6.0,16.0
9,Golden State Warriors,-0.058,0.025,-0.012,-0.026,30.0,11.0,23.5,24.0
10,Houston Rockets,0.006,0.042,-0.011,-0.014,14.5,3.0,22.0,21.0
11,Indiana Pacers,0.022,-0.034,-0.016,-0.036,9.0,25.0,25.5,30.0
12,LA Clippers,0.025,0.014,0.006,0.017,7.0,12.0,8.0,7.0
13,Los Angeles Lakers,0.040,0.012,-0.003,0.024,3.0,13.0,18.0,5.0
14,Memphis Grizzlies,0.010,-0.049,0.004,-0.011,13.0,28.0,11.5,18.0
15,Miami Heat,0.027,0.032,0.014,0.023,5.5,7.0,5.0,6.0
16,Milwaukee Bucks,0.071,0.050,0.005,0.016,1.0,2.0,9.5,9.0
17,Minnesota Timberwolves,-0.024,0.001,0.000,0.001,22.0,16.0,16.0,15.0
18,New Orleans Pelicans,0.006,-0.022,0.016,0.013,14.5,20.0,4.0,11.5
19,New York Knicks,-0.047,-0.042,0.002,0.041,29.0,26.0,14.0,1.0
20,Oklahoma City Thunder,0.013,0.080,-0.004,-0.028,11.0,1.0,20.0,25.0
21,Orlando Magic,-0.033,0.032,-0.023,0.010,26.0,6.0,28.0,13.5
22,Philadelphia 76ers,0.013,-0.032,0.004,0.035,10.0,24.0,11.5,3.0
23,Phoenix Suns,-0.014,-0.009,-0.012,-0.015,20.5,18.0,23.5,23.0
24,Portland Trail Blazers,0.005,-0.029,0.002,-0.029,16.0,22.0,15.0,26.5
25,Sacramento Kings,-0.014,-0.052,-0.004,-0.010,20.5,29.0,19.0,17.0
26,San Antonio Spurs,-0.009,0.011,-0.001,-0.014,19.0,14.0,17.0,21.0
27,Toronto Raptors,0.034,-0.008,-0.026,-0.030,4.0,17.0,29.5,28.0
28,Utah Jazz,0.042,0.030,0.029,0.010,2.0,8.0,2.0,13.5
29,Washington Wizards,-0.025,-0.030,-0.016,-0.032,23.0,23.0,25.5,29.0

In [68]:
ff_diffs_df[ff_diffs_df.TEAM_NAME == 'Portland Trail Blazers']

,TEAM_NAME,efg_diff,ftr_diff,tov_diff,oreb_diff,efg_diff_rank,ftr_dff_rank,tov_diff_rank,oreb_diff_rank
24,Portland Trail Blazers,0.005,-0.029,0.002,-0.029,16.0,22.0,15.0,26.5

# Question 2

In [69]:
# Import sklearn linear regression
from sklearn.linear_model import LinearRegression

In [76]:
historic_ff_df.season.unique()

array(['2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19'],
      dtype=object)

In [80]:
# Use 13-18 data as training data
train_df = historic_ff_df[historic_ff_df.season != '2018-19']

# Use 18-19 as prediction season
pred_df = historic_ff_df[historic_ff_df.season == '2018-19']

In [81]:
train_df.columns

Index(['Unnamed: 0', 'TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN',
       'EFG_PCT', 'FTA_RATE', 'TM_TOV_PCT', 'OREB_PCT', 'OPP_EFG_PCT',
       'OPP_FTA_RATE', 'OPP_TOV_PCT', 'OPP_OREB_PCT', 'GP_RANK', 'W_RANK',
       'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'EFG_PCT_RANK', 'FTA_RATE_RANK',
       'TM_TOV_PCT_RANK', 'OREB_PCT_RANK', 'OPP_EFG_PCT_RANK',
       'OPP_FTA_RATE_RANK', 'OPP_TOV_PCT_RANK', 'OPP_OREB_PCT_RANK', 'CFID',
       'CFPARAMS', 'season'],
      dtype='object')

In [84]:
# Calculations required
def calc_diffs(df):
    df['efg_diff'] = df.EFG_PCT - df.OPP_EFG_PCT
    df['fta_dff'] = df.FTA_RATE - df.OPP_FTA_RATE
    df['tov_diff'] = df.TM_TOV_PCT - df.OPP_TOV_PCT
    df['oreb_diff'] = df.OREB_PCT - df.OPP_OREB_PCT
    return df

In [85]:
train_df = calc_diffs(train_df)

In [101]:
train_df[train_df.columns[32:36]]

     efg_diff  fta_dff  tov_diff  oreb_diff
0       0.005    0.004     0.001     -0.033
1      -0.028   -0.051     0.012      0.022
2       0.005    0.002    -0.014     -0.054
3      -0.010    0.056    -0.011     -0.001
4       0.000    0.040     0.006      0.034
..        ...      ...       ...        ...
145    -0.040   -0.066    -0.006     -0.005
146     0.000    0.021    -0.010      0.018
147     0.038   -0.027    -0.010     -0.001
148     0.021    0.013    -0.002      0.012
149     0.003   -0.025    -0.003      0.006

[150 rows x 4 columns]

In [102]:
train_diffs_df = pd.concat([train_df.TEAM_NAME, train_df[train_df.columns[32:36]]], axis=1)

In [103]:
pred_df = calc_diffs(pred_df)
pred_diffs_df = pd.concat([pred_df.TEAM_NAME, pred_df[pred_df.columns[32:36]]], axis=1)
pred_diffs_df.head()

             TEAM_NAME  efg_diff  fta_dff  tov_diff  oreb_diff
150      Atlanta Hawks    -0.019   -0.058     0.019      0.002
151     Boston Celtics     0.020   -0.044    -0.023     -0.015
152      Brooklyn Nets     0.008    0.037     0.015      0.002
153  Charlotte Hornets    -0.024    0.030    -0.013     -0.001
154      Chicago Bulls    -0.036   -0.012     0.008     -0.031

In [108]:
# Build linear model on training set
X = train_diffs_df[train_diffs_df.columns[1:5]]
y = train_df.W

lm = LinearRegression().fit(X, y)

In [110]:
lm.score(X, y)

0.92741211061182

In [111]:
lm.coef_

array([ 400.42914413,   40.45751522, -301.82409904,  132.0680544 ])

In [112]:
lm.intercept_

41.02142344932989

In [116]:
X_pred = pred_diffs_df[pred_diffs_df.columns[1:5]]
y_pred = pred_df.W
lm.score(X_pred, y_pred)

0.9131524503804093

In [117]:
pred_diffs_df[pred_diffs_df.TEAM_NAME == 'Portland Trail Blazers']

                  TEAM_NAME  efg_diff  fta_dff  tov_diff  oreb_diff
174  Portland Trail Blazers     0.012    0.005     0.014      0.047

In [119]:
pred_df[pred_df.TEAM_NAME == 'Portland Trail Blazers']

,Unnamed: 0,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,EFG_PCT,FTA_RATE,...,OPP_FTA_RATE_RANK,OPP_TOV_PCT_RANK,OPP_OREB_PCT_RANK,CFID,CFPARAMS,season,efg_diff,fta_dff,tov_diff,oreb_diff
174,24,1610612757,Portland Trail Blazers,82,53,29,0.646,3971.0,0.528,0.258,...,14,29,8,10,Portland Trail Blazers,2018-19,0.012,0.005,0.014,0.047

In [118]:
# Esimated number of wins based on four factors model
print(lm.intercept_ + lm.coef_[0] * 0.012 + lm.coef_[1] * 0.005 + lm.coef_[2] * 0.014 +
        lm.coef_[3] * 0.048)

48.14258997955039

# Question 3

In [ ]:
# Offensive Players

In [ ]:
# Defensive Players

# Question 4