# Setup

In [2]:
import pandas as pd
import numpy as np

# Import data

In [3]:
# offensive data  df
offense_filename = './data_files/2013-19_players_assorted_stats.csv'
offensive_df = pd.read_csv(offense_filename)
offensive_df.head()

,Unnamed: 0,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,0,201985,AJ Price,1610612750,MIN,27.0,28,15,13,0.536,...,0.114,0.000,0.114,0.182,0.231,0.769,0.833,0.167,0.421,0.579
1,1,201985,AJ Price,1610612750,MIN,27.0,28,15,13,0.536,...,0.038,0.120,0.211,0.226,0.111,0.889,0.667,0.333,0.275,0.725
2,2,201985,AJ Price,1610612750,MIN,27.0,28,15,13,0.536,...,0.114,0.000,0.114,0.182,0.231,0.769,0.833,0.167,0.421,0.579
3,3,201985,AJ Price,1610612750,MIN,27.0,28,15,13,0.536,...,0.038,0.120,0.211,0.226,0.111,0.889,0.667,0.333,0.275,0.725
4,4,201166,Aaron Brooks,1610612743,DEN,29.0,72,42,30,0.583,...,0.109,0.129,0.138,0.326,0.139,0.861,0.698,0.302,0.369,0.631

In [4]:
# defensive data df
defensive_filename = './data_files/2013-19_shot_defenses.csv'
defensive_df = pd.read_csv(defensive_filename)
defensive_df.head()

,Unnamed: 0,CLOSE_DEF_PERSON_ID,PLAYER_NAME,PLAYER_LAST_TEAM_ID,PLAYER_LAST_TEAM_ABBREVIATION,PLAYER_POSITION,AGE,GP,G,FREQ,...,FGA_LT_06,LT_06_PCT,NS_LT_06_PCT,PLUSMINUS,sesson,FG3M,FG3A,FG3_PCT,NS_FG3_PCT,6FT_PLUSMINUS
0,0,201577,Robin Lopez,1610612757,POR,C,26.0,82,82,0.488,...,7.83,0.467,0.594,-0.127,2013-14,0.34,1.10,0.311,0.342,-0.031
1,1,201577,Robin Lopez,1610612757,POR,C,26.0,82,82,0.488,...,7.83,0.467,0.594,-0.127,2013-14,0.32,0.90,0.358,0.315,0.044
2,2,201577,Robin Lopez,1610612757,POR,C,26.0,82,82,0.488,...,7.83,0.467,0.594,-0.127,2013-14,0.43,1.14,0.380,0.342,0.039
3,3,201577,Robin Lopez,1610612757,POR,C,26.0,82,82,0.488,...,7.83,0.467,0.594,-0.127,2013-14,0.83,1.99,0.416,0.359,0.057
4,4,201577,Robin Lopez,1610612757,POR,C,26.0,82,82,0.488,...,7.83,0.467,0.594,-0.127,2013-14,0.78,2.13,0.366,0.362,0.003

# Offensive Players

# Defensive Players